
<div style="padding: 20px;">
    <h2> Customizble Grid Component </h2>
    <h4> You customize column width of this table forever. </h4>  
    <p> Please Press 'Ctrl' button when you need resize</p>
    
    <small>{{message}}</small>
    <hr/>
      <button class="btn btn-secondary btn-sm m-2" (click)="saveConfiguration()">save</button>
      <button class="btn btn-secondary btn-sm m-2" (click)="resetConfiguration()">reset</button>
  
  
      <button class="btn btn-secondary btn-sm m-2" (click)="loadFirstState()">state 1</button>
      <button class="btn btn-secondary btn-sm m-2" (click)="loadSecondState()">state 2</button>
      <button class="btn btn-secondary btn-sm m-2" (click)="loadThirdState()">state 3</button>
  
  
       {{state}}
    <hr/>
    
    <table class="table" *ngIf="ready" style="width: 100%;"
          
           (keydown)="onTableKeyDown($event)"
           (keyup)="onTableKeyUp($event)"
           >
      <colgroup>
        <col span="1" [ngStyle]="{ 'width': tableColumn.RelativeWidth+'%'}" *ngFor="let tableColumn of tableModel.tableColumns" >
       
     </colgroup>
      <thead>
        <tr>
          <th scope="col" 
              *ngFor="let tableColumn of tableModel.tableColumns" >
            {{tableColumn.RusTitle}}
            </th>
            
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of gridData" >
  
          <div *ngIf="selectionMode=='rows'" 
                class="bg-primary text-white">
            <td scope="col" *ngFor="let tableColumn of tableModel.tableColumns"
                style="width: 20px;">
              {{employee[tableColumn.BindProperty]}}
            </td>
          </div>
  
        </tr>
        
      </tbody>
    </table>
  </div>